.name{
  color: #162955;
  border-bottom: solid rgba(0,0,0,0);
  transition: border-bottom 1s;
}

.body{
  position: relative;
}
.jumbotron {
  background-image: url("/images/me.jpg");
}
.navbar-toggler::after{
  opacity: 0;
}

@keyframes slideInFromTop{
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}
@keyframes slideInFromBottom{
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }

}
.name{
  animation: .5s ease-out 0s 1 slideInFromBottom;
}
.navbar{
  animation: .5s ease-out 0s 1 slideInFromTop;

}
