body {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
#canvas-wrap{
  position: relative;
}
#canvas-wrap canvas{
  position: absolute;
  top: 0;
  left: 0;
}
.main-holder{
  background-image : linear-gradient(to bottom,
                  rgba(46,65,114,1) 0%,
                  rgba(46,65,114,1) 10%,
                  rgba(46,65,114,.8) 100%);
  min-height: 500px;
  object-fit: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100vh;
}

.jumbotron{
  background: transparent;
  font-weight: 900;
}
@media only screen and (min-width:800px){
  #name{
    font-family: 'Roboto', sans-serif;
    color: #9FB3FE;
    font-weight: 900;
    letter-spacing: 0px;
    line-height: 80%;
    position: relative;
    right: -10px;
    font-size: 12vw;

  }
  #name2{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    letter-spacing: -4px;
    line-height: 80%;
    font-size: 15vw;

  }
  .name{
    font-family: 'Roboto', sans-serif;
    transform: translateY(25%);
    color: #FFFFFF;
    background-color: #FFFFFF00;
    position: relative;
    line-height: 100vh;
    width: 100vw;
    max-width: 100%;
  }

}
#name{
  font-family: 'Roboto', sans-serif;
  color: #9FB3FE;
  font-weight: 900;
  letter-spacing: 0px;
  line-height: 80%;
  position: relative;
  right: -10px;

}
#name2{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  letter-spacing: -4px;
  line-height: 80%;
}
@media only screen and (max-width:800px){
  .name{
    font-family: 'Roboto', sans-serif;
    transform: translateY(100%);
    color: #FFFFFF;
    background-color: #FFFFFF00;
    position: relative;
    line-height: 100vh;
    width: 100vw;
    max-width: 100%;
  }
}

.typed{
  color: #99C24D;
  position: relative;

}
.downbtn{
  position: absolute;
  bottom:0;
  left: 50vw;
}
.banner {
	display: block;
	min-height: 200px;
	width: 100%;
	position: relative;
}
.typed_wrap {
	display: block;
	border: 4px solid #ecf0f1;
	width: 290px;
	height: auto;
	padding: 30px;

	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h1 {
	display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


.navbar{
  /* background-color:transparent !important; */
  color: #2E4172 !important;
  border-color: #2E4172;
  background-color: #2E4172 !important;
  background-image: none;
  box-shadow:none;
}
.navbar-light .navbar-toggler{
  border-color: transparent;
}
.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 80%;
  width: auto;
}
/* .about{
  height:800px;
  padding-top:100px;
} */
.about-holder{
  height:800px;
  padding-top:100px;
  background-image : linear-gradient(to bottom,
                  rgba(46,65,114,.8) 0%,
                  rgba(46,65,114,.7) 100%);

}

/* .parallex-about{
  background-attachment: fixed;
  position: relative;
  top:-100px;
  height: 300px;
  width: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
} */
.about{
  font-family: 'Roboto', sans-serif;
  display:none;
  color:black;
  bottom:0;
  width:100%;
  z-index: 1;
}


.education-holder{
  background-image : linear-gradient(to bottom,
                  rgba(46,65,114,.7) 0%,
                  rgba(46,65,114,.6) 100%);
  object-fit: contain;
}

.work-holder{
  background-image : linear-gradient(to bottom,
                  rgba(46,65,114,.6) 0%,
                  rgba(46,65,114,.5) 100%);
  object-fit: contain;
}
.project-holder{
  background-image : linear-gradient(to bottom,
                  rgba(46,65,114,.5) 0%,
                  rgba(46,65,114,.4) 100%);
  object-fit: contain;
}
.contact-holder{
  background-image : linear-gradient(to bottom,
                  rgba(46,65,114,.4) 0%,
                  rgba(46,65,114,.2) 100%);
  object-fit: contain;
}
#nav-icon3{
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#nav-icon3 span{

  left: -10px;
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3:hover span{
  transform: rotate(-180deg);


}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 0px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
button:focus {outline:0;}
.aboutLink:link, .aboutLink:visited{
  background-color: rgba(12,65,200,1);
  color:white;
  padding:10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.aboutLink:hover{
  background-color: rgba(46,65,114,.8);
}
@keyframes appear {
  0%{
    opacity:0;

  }
  99%{
    opacity:0;
  }
  100%{
    opacity:1;
  }

}
@keyframes slideInFromLeft{
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom{
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(50%);
  }
}
@keyframes slideInFromTop{
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInFromRight{
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes spinIn{
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-brand:hover{
  animation-play-state: running;
}
.typed{
  animation: .9s ease-out 0s 1 appear;
}
.navbar-brand{
  animation: 2s 0s 1 spinIn;
}
#name{
  animation: 1s ease-out 0s 1 slideInFromLeft;
}
#name2{
  animation: 1s ease-out 0s 1 slideInFromRight;
}
.navbar{
  animation: .5s ease-out 0s 1 slideInFromTop;

}
